@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model IndexModel

<section id="hero">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col align-center">
                <img src="~/images/multi-devices.svg" alt="Works on multiple devices" />
                <h1 class="align-center">@Localizer["Description"]</h1>
            </div>
        </div>
    </div>
</section>
<section id="engage">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col flex direction-column justify-content-center">
                <div class="title align-center">@Localizer["EngageTitle"]</div>
                <div class="engage-features">
                    <div class="engage-feature">
                        <img src="~/images/logo-paratext.svg" alt="Paratext">
                        <span>@Localizer["EngageCollaborate"]</span>
                    </div>
                    <div class="engage-feature">
                        <img src="~/images/community-checking.svg" alt="Community Checking">
                        <span>@Localizer["EngageChecking"]</span>
                    </div>
                    <div class="engage-feature">
                        <img src="~/images/translate2.svg" alt="Translate">
                        <span>@Localizer["EngageSuggestions"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="panel">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div class="section-title">
                    <h2>@Localizer["AboutHeader"]</h2>
                    <div class="title">@Localizer["AboutTitle"]</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet intro">
                <p>@Localizer["AboutEngaging"]</p>
                <p>@Localizer["AboutCheckingTool"]</p>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="about-features">
                    <div class="about-feature">
                        <img src="~/images/logo-paratext.svg" alt="Paratext">
                        <span>@Localizer["AboutParatext"]</span>
                        <p>@(Html.Raw(Model.Localizer["AboutParatextDescription", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <div class="about-feature">
                        <i class="material-icons">shuffle</i>
                        <span>@Localizer["AboutFlexible"]</span>
                        <p>@(Html.Raw(Model.Localizer["AboutFlexibleDescription", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <div class="about-feature">
                        <i class="material-icons">group</i>
                        <span>@Localizer["AboutUserEngagement"]</span>
                        <p>@(Html.Raw(Model.Localizer["AboutUserEngagementDescription", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="quote">
    <div class="quote-container">
        <img src="/images/quoter.jpg" alt="" />
        <div class="quote-text">
            <i class="material-icons">format_quote</i>
            <p>
                @Localizer["QuoteQuotationOne"]<br />
                <br />
                @Localizer["QuoteQuotationTwo"]<br />
                <br />
                @Localizer["QuoteQuotationThree"]<br />
                <br />
                <span class="quoter-name">@Localizer["QuoteQuoterName"]</span>
                <span class="quoter-role">@Localizer["QuoteQuoterRole"]</span>
            </p>
        </div>
    </div>
</section>
<section class="statement">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="statement-text">
                    @Localizer["Statement"]
                </div>
                <div class="statement-buttons flex justify-content-center">
                    <a asp-page="LearnMore" class="mdl-button mdl-button--raised mdl-button--colored">@SharedLocalizer[SharedResource.Keys.LearnMore]</a>
                    <a class="mdl-button mdl-button--raised mdl-button--accent" href="/login?sign-up=true">@SharedLocalizer[SharedResource.Keys.SignUp]</a>
                </div>
            </div>
        </div>
    </div>
</section>
