@page "/learn-more"
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@model LearnMoreModel

<section id="learn-more" class="inside">
    <div class="container">
        <div class="mdl-grid section-header">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div class="section-title">
                    <h2>@Localizer["LearnHeader"]</h2>
                    <div class="title">@Localizer["LearnCheckingTitle"]</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet intro">
                <p>@Localizer["LearnCheckingHow"]</p>
            </div>
        </div>
        <div class="mdl-grid features-container">
            <div class="features">
                <div class="feature">
                    <div class="text">
                        <h3>@Localizer["LearnSliderCheckingSetupHeader"]</h3>
                        <p><i class="material-icons">computer</i>@(Html.Raw(Model.Localizer["LearnSliderCheckingSetupDescription", "<i>", "</i>", "<span class=\"highlight\">", "</span>"]))</p>
                        <ol>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSetupConnect", "<span class=\"highlight\">", "</span>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSetupAddQuestions", "<span class=\"highlight\">", "</span>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSetupShare", "<span class=\"highlight\">", "</span>", "<i>", "</i>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSetupSync", "<i>", "</i>", "<span class=\"highlight\">", "</span>"]))</li>
                        </ol>
                    </div>
                    <iframe width="560" height="315" src='@(ViewData["Scheme"])://www.youtube-nocookie.com/embed/mRsuBIkAhhk?origin=@(ViewData["Origin"])' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="feature right">
                    <div class="text">
                        <h3>@Localizer["LearnSliderCheckingSeeHeader"]</h3>
                        <p><i class="material-icons">movie</i>@(Html.Raw(Model.Localizer["LearnSliderCheckingSeeDescription", "<span class=\"highlight\">", "</span>", "<i>", "</i>"]))</p>
                        <ol>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSeeConnect", "<span class=\"highlight\">", "</span>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSeeAnswer", "<span class=\"highlight\">", "</span>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSeeReference", "<span class=\"highlight\">", "</span>"]))</li>
                            <li>@(Html.Raw(Model.Localizer["LearnSliderCheckingSeeInteract", "<span class=\"highlight\">", "</span>", "<i>", "</i>"]))</li>
                        </ol>
                    </div>
                    <iframe width="560" height="315" src='@(ViewData["Scheme"])://www.youtube-nocookie.com/embed/rKQj6_954ic?origin=@(ViewData["Origin"])' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="mdl-grid section-header">
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">
                <div class="section-title">
                    <h2>@Localizer["LearnHeader"]</h2>
                    <div class="title">@Localizer["LearnTranslateTitle"]</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet intro">
                <p>@Localizer["LearnTranslateHow"]</p>
            </div>
        </div>
        <div class="mdl-grid features-container">
            <div class="features">
                <div class="feature right">
                    <div class="text">
                        <h3>@Localizer["LearnSliderTranslateEditHeader"]</h3>
                        <p><i class="material-icons">edit</i>@(Html.Raw(Model.Localizer["LearnSliderTranslateEditDescription", "<span class=\"highlight\">", "</span>", "<b>", "</b>"]))</p>
                        <p>@Localizer["LearnSliderTranslateEditStructure"]</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderTranslateEditSync", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <img src="/images/TranslateTool_TET_MRK_1.png" alt="" />
                </div>
                <div class="feature">
                    <div class="text">
                        <h3>@Localizer["LearnSliderTranslateCollaborateHeader"]</h3>
                        <p><i class="material-icons">people</i>@(Html.Raw(Model.Localizer["LearnSliderTranslateCollaborateDescription", "<i>", "</i>", "<span class=\"highlight\">", "</span>"]))</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderTranslateCollaborateRealtime", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <img src="/images/CollaborateOnScripture.gif" alt="" />
                </div>
                <div class="feature right">
                    <div class="text">
                        <h3>@Localizer["LearnSliderSuggestionSetupHeader"]</h3>
                        <p><i class="material-icons">computer</i>@(Html.Raw(Model.Localizer["LearnSliderSuggestionSetupDescription", "<b>", "</b>"]))</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderSuggestionSetupBest", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <img src="/images/Settings_NLTTest.png" alt="" />
                </div>
                <div class="feature">
                    <div class="text">
                        <h3>@Localizer["LearnSliderSuggestionAcceptHeader"]</h3>
                        <p><i class="material-icons">school</i>@(Html.Raw(Model.Localizer["LearnSliderSuggestionAcceptDescription", "<span class=\"highlight\">", "</span>"]))</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderSuggestionAcceptEnter", "<i>", "</i>"]))</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderSuggestionAcceptEsc", "<i>", "</i>"]))</p>
                        <p>@(Html.Raw(Model.Localizer["LearnSliderSuggestionAcceptLearn", "<span class=\"highlight\">", "</span>"]))</p>
                    </div>
                    <img src="/images/TranslateTool_NLT_JHN_1_Suggestion.png" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-panel">
    <div class="container">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="statement-buttons flex direction-column align-items-center">
                    <h2>@Localizer["ReadyToTry"]</h2>
                    <a class="mdl-button mdl-button--raised mdl-button--accent button-lg" href="/login?sign-up=true">@SharedLocalizer[SharedResource.Keys.SignUp]</a>
                </div>
            </div>
        </div>
    </div>
</section>
