@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <environment include="Production">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22170471-15"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-22170471-15');
        </script>
    </environment>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scripture Forge</title>
    <link rel="icon" type="image/x-icon" href="~/sf.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/sf.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" />
    <link rel="stylesheet" href="~/lib/material-design-lite/css/material.sf_grey-pt_green.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="~/css/sf.min.css" />
    @RenderSection("css", required: false)
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col flex justify-content-center">
                    <div class="login-buttons flex align-items-center">
                        <a class="mdl-button mdl-button--accent" href="/login?sign-up=true">@SharedLocalizer[SharedResource.Keys.SignUp]</a>
                        <a class="mdl-button mdl-button--raised mdl-button--accent" href="/login">@SharedLocalizer[SharedResource.Keys.LogIn]</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col flex justify-content-space-between">
                    <div class="flex align-items-center">
                        <a asp-page="Index">
                            <img src="~/images/logo-sf.svg" alt="Scripture Forge">
                            <span>Scripture Forge</span>
                        </a>
                    </div>
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
            </div>
        </div>
    </header>
    <div id="render-body">
        @RenderBody()
    </div>
    <vc:footer></vc:footer>
    @RenderSection("scripts", required: false)
</body>
</html>
