<!DOCTYPE html>
<html>
<head>
    <environment include="Production">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22170471-11"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-22170471-11');
        </script>
    </environment>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scripture Forge</title>
    <link rel="icon" type="image/x-icon" href="~/sf.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/sf.ico" />
    <link rel="stylesheet" href="~/lib/material-design-lite/css/material.sf_grey-pt_green.min.css"/>
    @RenderSection("css", required: false)
</head>
<body>
    <div class="mdl-grid container body-content">
        @RenderBody()
    </div>
    <script src="~/lib/material-design-lite/js/material.min.js"></script>
    <script src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js"></script>
    <script type="text/javascript">
        var webAuth = new auth0.WebAuth({
            clientID: '@ViewData["ClientId"]',
            domain: '@ViewData["Domain"]',
            responseType: 'token id_token',
            redirectUri: window.location.origin + '/projects',
            scope: 'openid profile email @ViewData["Scope"]',
            audience: '@ViewData["Audience"]'
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
